###Introduction to Big Data
- HW:2
- TEAM: 6
- Memebers: 22000245 문벼리, 22200105 김수빈, 22300453 오연수

# < Question 1 – List >

**(1-1, 5 pts) Write down Python codes that generates the variable called my_list as follows.**

In [ ]:
my_list = [1,2,3,'5','NewJeans',[2,4],['INFP','ENFP']] #Store 1,2,3,'5', 'NewJeans',[2,4],['INFP','ENFP'] as a list in a variable called my list, with each element as a separate element

In [ ]:
my_list

[1, 2, 3, '5', 'NewJeans', [2, 4], ['INFP', 'ENFP']]

**(1-2, 5 pts) How many elements are there in my_list? Write down Python codes for this question.**

In [ ]:
len(my_list) #Counting through len to see how many elements we currently have

7

**(1-3, 5 pts) Write down Python codes that updates my_list as shown below.**

In [ ]:
my_list[0] = 'One' #Replace the first element in the list with One
my_list.append('HGU')# Adding HGUs to the end of the list

my_list

['One', 2, 3, '5', 'NewJeans', [2, 4], ['INFP', 'ENFP'], 'HGU']

**(1-4, 5 pts) Write down Python codes that returns the odd elements of my_list from the reverse direction**

In [ ]:
my_list1 = [] #Create one empty list
for i in range(len(my_list)): #Iterate over the number of indices in the existing list
  if i % 2 == 1: #If the index is odd
    my_list1.insert(0,my_list[i]) # Stores the value with the odd index at position 0 of the new list
my_list1

['HGU', [2, 4], '5', 2]

 **(1-5, 5 pts) So far, what you have done is “packing” technique. Using “unpacking”, create two
variables called MBTI_1 and MBTI_2 from my_list as shown below**

In [ ]:
MBTI_1, MBTI_2 = my_list[-2] # Unpack the 2 mbti contents of the -2nd element in the list ['INFP','ENFP'] and assign them to each

print(MBTI_1, MBTI_2)

INFP ENFP


**(1-6, 5 pts) The new variable called my_list_ed is shown below. How is it different from my_list? If
you could find the difference, explain when this sort of data structure is often used in Python
Programming.**

In [ ]:
>>> my_list_ed (1, 2, 3, '5', 'NewJeans', [2, 4], ['INFP', 'ENFP'])

In [ ]:
my_list_ed = (1, 2, 3, '5', 'NewJeans', [2, 4], ['INFP', 'ENFP']) #Store a new datatype called my_list_ed

print(type(my_list_ed)) #Output the type of my_list_ed
print(type(my_list)) #Output the type of my_list

<class 'tuple'>
<class 'list'>

my_list_ed는 튜플 타입으로, () 안에 데이터의 형태가 저장되어 있으며, my_list는 리스트 타입으로 []안에 데이터 형태가 저장되어 있다.

my_list_ed is a tuple type, with the type of data stored in (), and my_list is a list type, with the type of data stored in [].

# < Question 2 – Dictionary >

**(2-1, 10 pts) Referring to the self-introduction below, create a dictionary type variable called self_int that includes the following keys: name, nationality, major, school, and age (kept all in lower cases).**

“Hello, everyone! My name is DS Kim and I'm from South Korea. I'm currently studying Law at Handong Global University, and I hope to become a fantastic lawyer one day. I'm really passionate about the new innovation and I'm always looking for new ways to learn and improve my skills. Lastly, I’m crazy about K-pop, and a big fan of HOT!”

In [ ]:
self_int = {'name':'DS Kim', # The key corresponding to the name and its value
            'nationality': 'South Korea', #The key and value corresponding to the country
            'major': 'Law', #The key and value corresponding to the major
            'school': 'Handong Global University'} # The key and value for your school

**(2-2, 10 pts) Write down Python codes that updates self_int with following keys: Name (former name), Nationality (former nationality), Major (former major), and University (former school).**

In [ ]:
self_int['name'] = 'former name' #Update former name in the name key
self_int['nationality'] = 'former nationality' #Update former nationality to the nationality key
self_int['major'] = 'former major' #Update former major to major key
self_int['school'] = 'former school' #Update former school to the school key

print(self_int) #Then print the whole thing

{'name': 'former name', 'nationality': 'former nationality', 'major': 'former major', 'school': 'former school'}

**(2-3, 10 pts) Assume that we want to add “AI John” to our dictionary. AI John is HGU student from USA and he’s studying Psychology. Write down Python codes that updates self_int.**

In [ ]:
self_int['name'] = ['former name', 'AI John'] #We need to add new values from the contents of the old self_int, so we save the old former name and the new value ai jhon as a list and add them to the dictionary
self_int['nationality'] = ['former nationality', 'USA']
self_int['major'] = ['former major', 'Psychology']
self_int['school'] = ['former school', 'HGU']

print(self_int)#Make sure you've updated properly
self_int['name'][1]#Browse to the index [1] to access the newly added value

{'name': ['former name', 'AI John'], 'nationality': ['former nationality', 'USA'], 'major': ['former major', 'Psychology'], 'school': ['former school', 'HGU']}

'AI John'

# < Question 3 – Conditional & Iterative Statements >

**(3-1, 10 pts) Write down following three version of Python codes, present the result and explain why they show the different results.**

In [ ]:
#(a)
a = 1
if a == 1:
  print('Hello')
  print("I'm Kim")

Hello
I'm Kim

In [ ]:
#(b)
a = 2
if a == 1:
  print('Hello')
  print("I'm Kim")

In [ ]:
#(c)
a = 2
if a == 1:
  print('Hello')
print("I'm Kim")

I'm Kim

a의 경우 조건문에 따라 조건이 맞기 때문에 조건절 안에 존재하는 print함수가 작동을 하여 결과가 출력되었고, b의 경우 조건이 True가 아니기 때문에 조건문 안에 있는 print함수가 출력되지 않았다. c의 경우에도 조건이 True가 아니기 때문에 조건문 안의 print함수는 출력되지 않았지만 이후 다음 과정에서의 print함수는 조건문 밖에 있는 함수이므로 출력이 되었다.

In case a, the print function inside the conditional clause works because the condition is true according to the conditional statement, and the result is printed. In case b, the print function inside the conditional statement is not printed because the condition is not true. In case c, the print function inside the conditional statement was not printed because the condition was not true, but the print function in the next step was printed because it was outside the conditional statement.

**(3-2, 10 pts) Assume that you are playing “3-6-9 삼육구 game”. If your number contains either 3 or 6 or 9, then you must clap. If not, you must count the number. To reflect this idea to Python, write down Python codes that receives number from the user and returns the command as shown below. Make sure you use the conditional statement. (Here, use input() to receive the value from the user.)**

In [ ]:
def main():# mainFunction
  clab()#First, run clab once
  fini() #Then asks if you want to continue

def clab(): #Function clab
  num = input('Insert the number: ') #Stores the value entered by the user in num
  if '3' in num or '6' in num or '9' in num: #Execute the following statement if num contains any of 3,6,9 via a loop
    print(num,' is clap!') #Output clap! with numbers
  else:#  If not, run the
    print(num,' is counting numbers!') #Output number counting with numbers

def fini():#Functions that ask if you want to continue
      while True: #Keep repeating
         user = input('Do you want to continue?') #Accept input to continue and save to user
         if user == 'yes': #If the input is yes, then the
            clab()#Run the clab function
         else:#If not
            print('programs end') #End of programme output
            break #Terminate the subsequent iteration




if __name__ == '__main__':
  main() #Run the main function

Insert the number: 2
2  is counting numbers!
Do you want to continue?ㅜㅐ
programs end

**(3-3, 10 pts) Write down following two versions of Python codes, present the result and explain why they show the different results.**

In [ ]:
#(a)

for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

In [ ]:
#(b)
for i in range(5):
  print(i)

0
1
2
3
4

a에서는 리스트 [1,2,3,4,5]의 요소 각각을 i에 매칭시키며 반복을 하였기에 1번째 매칭에서 i=1이 할당된다. 즉, i는 1부터 5까지 한번씩 매칭되며 그 값을 출력하게 된다. b에서는 range를 통해 5개의 값을 부여하는데, 이때 파이썬에서는 기본적으로 시작조건이 주어지지 않았을 때, 그 값을 0부터 시작하게 되므로 i는 0부터 4까지의 값을 가지게 된다.

In a, we iterate over each element of the list [1,2,3,4,5] and match it to i, so the first match assigns i=1. In other words, i is matched once from 1 to 5 and its value is printed. In b, we give a range of 5 values, which Python defaults to starting at 0 when no starting condition is given, so i has values from 0 to 4.

**(3-4, 10 pts) Sample code is written to generate the expected result shown below, however, the different results are returned. Explain why different results are obtained and fix the sample code to obtain expected result.**

In [ ]:
value = 30

while 0 < value:
  value = value - 5
  print(value)
print("last value=",value)

25
20
15
10
5
0
last value= 0

의도는 값이 30부터 5까지 출력되며, 마지막 값은 0으로 출력되게 하고 싶은데, 실제 코드를 실행해 보면 25부터 0까지 출력이 되고 있다. 이는 파이썬의 top-down방식때문으로, while반복문 안에서 가장 먼저 value의 값을 5만큼 깍은 다음 출력하기 때문에 최초의 값인 30에서 5가 깍인 25가 출력되는 것이며, 마지막 0이 들어간 것 역시 value를 출력하고 깍은 것이 아닌 깍고 출력해서 생긴 일이다. 이를 의도대로 하기 위해서는 순서를 바꾸어 print(value)가 먼저 실행되도록 수정하면 된다.

The intention is to print the value from 30 to 5, with the last value being 0. However, when we run the code, we get 25 to 0. This is because of the top-down way Python works. This is due to Python's top-down method, where the value of value is first truncated by 5 in the while loop and then printed out, so the first value of 30 is truncated by 5 and 25 is printed out, and the last zero is also caused by printing value and truncating it, not printing value and truncating it. To make this work as intended, we can reverse the order so that print(value) is executed first.

In [ ]:
value = 30

while 0 < value:
  print(value) #Reorder process
  value = value - 5

print("last value=",value)

30
25
20
15
10
5
last value= 0